<div class="container">
	<div class="col-12">
		<div class="row">
			<div class="col-6">
			<div class="input-group">
				<h6 style="padding-right:10px">Search with text:</h6>
				  <div class="form-outline">
					<input #searchQuery type="search" id="form1" class="form-control" placeholder="Products" style="border:1px solid black"/>
				  </div>
				<button type="button" class="btn btn-outline-primary" (click)="searchText(searchQuery)">Search</button>
			</div>
			</div>
			<div class="col-6">
			<div class="input-group">
				  <h6 style="padding-right:10px">Search with image:</h6>
				  <div class="form-outline" >
				  <input #imageInput
						 type="file"
						 accept="image/*"
				   >
				   </div>
				<button type="button" class="btn btn-outline-primary" (click)="processFile(imageInput)">Upload</button>
				</div>
			</div>
		</div>
	</div><br>
	<div>
	</div>
</div>