<div>
	<img src="../../assets/banner.PNG" alt="" class="banner">
	<h1 class="header">AgroMart</h1>
</div>
<br><br>
<div class="container">

<div class="card" style="position:relative;width:100%;background-color:grey;text-align:center;border-radius:15px;font-size:2rem;padding:15px">
	<p style="color:white"><q>AgroMart helps users find local farms in the area which provide condiments. The user can directly interact with the farms using our swipe interface and can easily add products which he likes. The user can then place the order, travel to the farm and collect the order.
</q></p>
</div>

</div>
<br><br>

<div class="container" style="margin-top: 2em">
	<div class="col-12">
		<div class="row">
			<div class="col-6">
			<div class="input-group">
				<h6 style="padding-right:10px; display: block; width: 100%;">Search with text:</h6>
			
				  <div class="form-outline">
					<input #searchQuery type="search" id="form1" class="form-control" placeholder="Products" style="border:1px solid black"/>
				  </div>

				<button type="button" style="margin-left: 1em;" class="btn btn-outline-primary" (click)="searchText(searchQuery)">Search</button>
			</div>
			</div>
			<div class="col-6">
			<div class="input-group" style="display: block; width: 100%;">
				  <h6 style="padding-right:10px">Search with image:</h6>
				  <div class="form-outline" >
				  <input #imageInput
						 type="file"
						 accept="image/*"
				   >
				   </div>
				<button style="margin-top: 1em;" type="button" class="btn btn-outline-primary" (click)="processFile(imageInput)">Upload</button>
				</div>
			</div>
		</div>
	</div><br>
	<div>
	</div>

	
</div>


<app-homepage-swipe></app-homepage-swipe>