
<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards" >
  <!-- <ng-container  let i=index> -->

    <div class="tinder--card" *ngFor="let obj of new_limit_cards">
      <img style="height: 380px;" src="{{obj.image_url}}">
      <h3>{{obj.product_name}}</h3>
      <p style="color: darkgreen;">Price: {{obj.price}}$</p>

    </div>
    
<!-- </ng-container> -->
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-times"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>